* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: white;
    background: linear-gradient(to left, rgb(0, 0, 77), rgb(51, 102, 255));
}

.row {
    margin: 10px 5px 0 5px;
}

h1, h2, h3, h4 , h5 {
    font-weight: bold;
    width: auto;
}

.h-50, .forecast-title {
    margin: 0 35px 15px 35px;
}

.btn {
    width: 100%;
    margin-bottom: 10px;
}

#icon {
    height: 40px;
    width: auto;
}

#pastSearches {
    padding: 0;
}

#currentDate {
    border: 1px solid black;
    margin-bottom: 10px;
}
/* 
#currentDate h3 {
    
} */

#currentDate p {
    margin: 10px 0 5px 0;
}

#currentDate p:nth-last-child(1) {
    margin-bottom: 20px;
}

.forecast-title{
    margin-left: 5px;}

#forecast {
    border: 1px solid black;
    color: white;
    background-color: rgb(16, 48, 51);
}

#forecast h5 {
    text-align: center;
}

#forecast p {
    margin: 10px 0 15px 0;
}

#forecast:nth-child(1), #forecast:nth-child(2), #forecast:nth-child(3), #forecast:nth-child(4) {
    margin-right: 25px;
}